.popup {
  position: fixed;
  top: 10px;
  bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  width: 80%;

  background: white;
  overflow-x: hidden;
  border-width: 10px;
}

.popup_inner {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.popup a {
  padding: 10px;
}
